.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.color0{
  fill:aliceblue
}
.color1{
  fill: lightblue
}
.color2{
  fill:cyan
}
.color3{
  fill:lightpink
}
.color4{
  fill:orange
}
.color5{
  fill:red
}
.color6{
  fill: plum
}
.color7{
  fill: blueviolet
}
.color8{
  fill:purple
}
.color9{
  fill: blue
}
.rbc-event-content{
  font-size: 10%
}
.rbc-event-label{
  font-size: 0%
}